/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Left section */
#leftSection {
    background-color: #1da1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#rightSection {
  border-bottom: 1px solid lightgrey;
}

#wrap-all {
  display: flex;
  height:100vh;
}


.fa-twitter{
  color: #1b95e0;
  font-size: 6000%;
  position: absolute;
  left: 10%;
  top: -18%;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;

}

#link-wrapper {
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

#link-wrapper a, #link-wrapper span {
  color:#aab8c2;
  text-decoration: none;
  font-size: 12px;
  padding: 15px 0 15px 0;
}


h2 {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: normal;
}

#marginMiddle {
  margin-left: 20%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.wrapperFlex {
  display: flex;
}
